$color__background: #f7f7f9;
$color__primary: #4d65c7;
$color__primary-alt: #425391;
$color__dark: #232a43;
$color__light: #f4f4f9;
$color__grey: #232a4330;
$color__white: #ffffff;

$color__green: #00c49a;
$color__red: #bf211e;
