.st-single__table-of-content {
	background: $color__light;
	padding: 1.5rem;
	border-radius: $radius__md;
	margin: 2rem 0;

	span {
		display: block;
		color: $color__primary;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	ol {
		list-style: none;

		li {
			&.h2 {
				counter-increment: roman-counter;
				font-weight: 700;
				margin-bottom: 0.5rem;

				&:before {
					content: counter(roman-counter, upper-roman) ' - ';
					font-weight: 700;
					margin-right: 0rem;
				}
			}

			&.h3 {
				padding-left: 0.75rem;

				&:not(:last-of-type) {
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}
