.st-single__sidebar {
	margin: 4rem auto 0;

	&--title {
		display: block;
		text-align: center;
		justify-content: center;
		margin-bottom: 1rem;
		font-weight: 600;
		font-size: $font__sm;
	}

	ul {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		height: fit-content;

		li {
			a {
				display: flex;
				width: fit-content;
				background: $color__dark;
				padding: 0.5rem;
				border-radius: $radius__full;

				img {
					filter: invert(1);
					width: 1.25rem;
				}
			}

			&:last-of-type {
				display: flex;
				width: fit-content;
				background: $color__dark;
				padding: 0.5rem;
				border-radius: $radius__full;
				width: 36px;
				cursor: pointer;

				img {
					filter: invert(1);
				}
			}
		}
	}
}
