.st-single__thumbnail {
	height: 600px;
	overflow: hidden;

	&.st-section {
		padding-bottom: 0;
		margin-bottom: -8rem;
	}

	img {
		height: 100%;
		object-fit: cover;
		border-radius: $radius__lg;
	}

	@media screen and (max-width: $breakpoint__md) {
		height: 450px;
	}

	@media screen and (max-width: $breakpoint__sm) {
		height: 350px;

		&.st-section {
			&.boxed {
				width: 95%;
			}
		}
	}
}
