.st-single__related-posts {
	h2 {
		text-align: center;
		margin-bottom: 2rem;
	}

	> p {
		text-align: center;
	}

	&--list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
}
