.padding {
	&-large {
		padding: 3rem 0;
	}

	&-medium {
		padding: 2rem 0;
	}

	&-small {
		padding: 1rem 0;
	}
}

.align {
	display: flex;
	align-items: center;

	&-left {
		justify-content: start;
	}

	&-center {
		justify-content: center;
	}

	&-right {
		justify-content: end;
	}
}
