.st-cursor {
	width: 2rem;
	height: 2rem;
	background: $color__primary;
	border-radius: 50%;
	position: fixed;
	pointer-events: none;
	transform: translate(-25%, -50%);
	z-index: 9999;
	transition: $transition__fast;

	svg {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(140deg);
		opacity: 0;
		transition: $transition__fast;
		width: 2rem;
		height: 2rem;

		path {
			stroke: $color__light;
		}
	}

	&.is-scaled {
		width: 4rem;
		height: 4rem;

		svg {
			opacity: 1;
		}
	}

	@media screen and (max-width: $breakpoint__md) {
		display: none;
	}
}
