.st-callout-block {
	position: relative;
	background: $color__dark;
	padding: 4rem;
	border-radius: $radius__md;
	max-width: 100%;
	margin: auto;
	transform: scale(0.9);
	opacity: 0;

	&__content {
		max-width: 750px;
		margin: 0 auto;

		* {
			color: $color__white;
		}

		p {
			text-wrap: pretty;
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.5rem;
		margin-top: 2rem;
	}

	@media screen and (max-width: $breakpoint__sm) {
		padding: 3rem 2rem;
	}
}
