.st-list-block {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		&--item {
			display: flex;
			align-items: start;
			gap: 1rem;

			span {
				display: block;
				height: 1rem;
				padding-top: 0.5rem;
			}
		}
	}

	&__image {
		height: 100%;

		img {
			height: 100%;
			object-fit: cover;
			border-radius: $radius__md;
		}
	}
}
