.st-partners-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;

	&.freelance {
		.st-card-partner {
			flex: 1;
		}
	}

	.st-card-partner {
		min-width: 275px;
	}

	@media screen and (max-width: $breakpoint__md) {
		.st-card-partner {
			width: calc(50% - 1rem);
			flex: 1;
		}
	}
}
