.st-projects-gallery {
	padding: $block__padding;

	&__filters {
		display: flex;
		align-items: center;
		gap: 1rem;

		svg {
			width: 1.5rem;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
		padding: $block__padding;
	}

	.st-button {
		margin: 1.5rem auto 0;
	}
}
