.st-references-slider {
	&.grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;

		.st-references-slider__item {
			width: 225px;
			filter: grayscale(1);

			img {
				object-fit: contain;
				aspect-ratio: 1.25/1;
			}
		}
	}

	&:not(.grid) {
		&::before,
		&::after {
			content: '';
			height: 100%;
			width: 15rem;
			position: absolute;
			top: 0;
			z-index: 99;
		}

		&::before {
			left: 0;
			background: $gradient__transparent;
			transform: rotate(180deg);
		}

		&::after {
			right: 0;
			background: $gradient__transparent;
		}
	}

	.swiper-slide {
		width: 100%;
		overflow: hidden;
		background-position: top;
		background-size: cover;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			height: 100%;
			object-fit: contain;
			filter: grayscale(1);
		}
	}

	.swiper-wrapper {
		-webkit-transition-timing-function: linear !important;
		-o-transition-timing-function: linear !important;
		transition-timing-function: linear !important;
	}

	@media screen and (max-width: $breakpoint__md) {
		&.grid {
			.st-references-slider__item {
				width: 25%;
			}
		}
	}

	@media screen and (max-width: 550px) {
		&.grid {
			.st-references-slider__item {
				width: calc(50% - 1rem);
			}
		}
	}
}
