.st-reviews-list {
	max-width: 600px;

	&__slider {
		width: 600px;

		.swiper-slide {
			height: 100%;
			min-height: 200px;
			opacity: 0.25;
			transition: all 400ms ease;

			&-visible {
				opacity: 1;
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;

		.st-card-review {
			height: fit-content;
		}
	}
}
