.st-site-title {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: relative;

	&__animated-title {
		opacity: 0;

		p {
			font-size: $font__xl;
			font-weight: 700;
			color: $color__dark;
			line-height: 4rem;
			text-align: center;
			text-wrap: balance;
			max-width: 900px;
			margin: auto;
		}

		span {
			font-size: $font__xl;
			font-weight: 700;
			color: $color__primary;

			&:not(:first-of-type) {
				display: none;
			}
		}
	}

	&__main-title {
		text-align: center;
		opacity: 0;

		h1 {
			font-weight: 400;
			line-height: 2.5rem;
			font-size: $font__sm;

			strong {
				display: block;
				font-size: $font__md;
				color: $color__dark;
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
		opacity: 0;
	}

	.st-graphic-blocks {
		.st-block {
			&:nth-child(1) {
				top: -2rem;
				left: 2rem;
			}

			&:nth-child(2) {
				top: 2rem;
				right: 2rem;
			}

			&:nth-child(3) {
				left: 6rem;
			}

			&:nth-child(4) {
				right: 5rem;
			}
		}
	}

	@media screen and (max-width: $breakpoint__lg) {
	}

	@media screen and (max-width: $breakpoint__md) {
		&__animated-title {
			p {
				line-height: 2.5rem;
			}
		}

		&__main-title {
			h1 {
				line-height: 2rem;

				// strong {
				// 	margin-bottom: 1rem;
				// }
			}
		}

		&__buttons {
			flex-wrap: wrap;
		}

		.st-graphic-blocks {
			.st-block {
				&:nth-child(1) {
					top: -25%;
					left: 0;
				}

				&:nth-child(2) {
					top: -25%;
					right: 0;
				}

				&:nth-child(3) {
					left: 0;
					bottom: 2rem;
				}
			}
		}
	}
}
