.st-text-image {
	display: flex;
	flex-direction: row;
	gap: 4rem;
	align-items: center;
	padding: $block__padding;

	&.text-image {
		flex-direction: row-reverse;
	}

	&__image {
		flex: 1;
		position: relative;

		img {
			height: 100%;
			max-height: 400px;
			object-fit: cover;
			border-radius: $radius__md;
		}
	}

	&__text {
		flex: 1.5;
	}
}
