.st-text {
	padding: 1rem 0 1.5rem;
	opacity: 0;

	&.width-100 {
		width: 100%;
	}

	&.width-75 {
		width: 75%;
	}

	&.width-50 {
		width: 50%;
	}

	h1,
	h2,
	h3,
	h4,
	p {
		width: 100%;
	}

	p {
		text-wrap: pretty;
	}

	@media screen and (max-width: $breakpoint__md) {
		&.width {
			&-50 {
				width: 75%;
			}

			&-75 {
				width: 100%;
			}
		}
	}

	@media screen and (max-width: $breakpoint__sm) {
		&.width {
			&-75,
			&-50 {
				width: 100%;
			}
		}
	}
}
