.st-text-offer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6rem;

	&__offer {
		background: $color__white;
		border-radius: $radius__md;
		padding: 2.5rem;
		transform: translateX(20%);
		opacity: 0;

		&--title {
			margin-bottom: 1rem;
		}

		&--list {
			ul {
				margin-bottom: 1.5rem;
				list-style: none;

				li {
					position: relative;
					padding-left: 1.75rem;

					svg {
						position: absolute;
						top: 0.25rem;
						left: 0;
					}

					span {
						font-weight: 700;
					}

					&:not(:last-child) {
						margin-bottom: 0.75rem;
					}
				}
			}
		}
	}

	@media screen and (max-width: $breakpoint__md) {
		grid-template-columns: 1fr;
		gap: 2rem;
	}
}
