.st-text-offer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6rem;

	&__text {
		position: sticky;
		top: 4rem;
		height: fit-content;
	}

	@media screen and (max-width: $breakpoint__md) {
		grid-template-columns: 1fr;
		gap: 2rem;

		&__text {
			position: relative;
			top: 0;
		}
	}
}
