.st-title-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
	padding: $block__padding;

	&__title {
		flex: 1.25;
	}

	&__text {
		flex: 1;
	}

	@media screen and (max-width: $breakpoint__lg) {
		gap: 2rem;
	}

	@media screen and (max-width: $breakpoint__md) {
		flex-direction: column;
		gap: 0;
	}
}
