// == Button link
.st-button {
	// == Button default styles
	border-radius: $radius__xs;
	width: fit-content;

	a {
		display: flex;
		padding: 10px 18px;
		font-family: $font__primary;
		text-decoration: none;
		font-weight: 600;
		font-size: $font__xs;
		position: relative;
	}

	// == Button color variations
	&.dark {
		background: $color__dark;

		a {
			color: $color__white;
		}
	}

	&.primary {
		background: $color__primary;

		a {
			color: $color__white;
		}
	}

	&.light {
		background: $color__light;

		a {
			color: $color__dark;
		}
	}

	&.white {
		background: $color__white;

		a {
			color: $color__dark;
		}
	}
}

// == Button HTML element
button:not(.st-header__burger) {
	padding: 10px 18px;
	border: none;
	border-radius: $radius__xs;
	font-family: $font__primary;
	font-weight: 600;
	font-size: $font__xs;
	text-decoration: none;
	background: $color__grey;
	color: $color__dark;
	opacity: 0.25;
	cursor: pointer;

	&.active {
		background: $color__dark;
		color: $color__light;
		opacity: 1;
	}
}

// == Form submit button
input[type='submit'] {
	padding: 10px 18px;
	border: none;
	border-radius: $radius__xs;
	font-family: $font__primary;
	font-weight: 600;
	font-size: $font__xs;
	text-decoration: none;
	background: $color__dark;
	color: $color__white;
	cursor: pointer;

	&:disabled {
		opacity: 0.5;
	}
}
