.st-card-post {
	display: grid;
	grid-template-columns: 1fr;
	background: $color__white;
	border-radius: $radius__md;
	overflow: hidden;
	text-decoration: none;
	height: fit-content;

	&__image {
		position: relative;
		border-radius: $radius__md;
		height: 220px;
		overflow: hidden;

		img {
			position: absolute;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		padding: 1.5rem;

		h3 {
			font-size: $font__sm;
			line-height: 1.25rem;
			margin-bottom: 0.75rem;
			text-wrap: pretty;
		}

		p {
			margin-bottom: 2rem;
		}
	}

	&__meta {
		display: flex;
		justify-content: space-between;

		* {
			font-size: 14px;
		}

		.category {
			color: $color__orange;
			font-weight: bold;
			text-decoration: none;
		}

		time {
			color: $color__dark;
			opacity: 0.75;
		}
	}

	@media screen and (max-width: $breakpoint__md) {
		grid-template-columns: 1fr 1.25fr;
	}

	@media screen and (max-width: $breakpoint__sm) {
		grid-template-columns: repeat(1, 1fr);
	}
}
