.st-card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	padding: 1.5rem;
	border-radius: $radius__md;
	background: $color__white;
	height: fit-content;
	text-decoration: none;
	opacity: 0;

	&.dark {
		background: $color__dark;
		height: 100%;
		justify-content: center;

		* {
			color: $color__white;
		}

		p {
			text-wrap: balance;
		}
	}

	&__dashicon {
		background: $color__primary;
		border-radius: $radius__full;
		width: fit-content;
		padding: 0.75rem;
		margin: 0 auto;

		span {
			display: block;
			width: 2.5rem;
			height: 2.5rem;

			&:before {
				font-size: 2.5rem;
				color: $color__light;
			}
		}
	}

	&__image {
		display: flex;
		background: $color__primary;
		border-radius: $radius__full;
		width: fit-content;
		padding: 0.75rem;
		margin: 0 auto;
	}

	&__text {
		h3 {
			font-size: $font__sm;
			margin-bottom: 1rem;
			line-height: 1.5rem;
			text-wrap: balance;
		}
	}

	&__button {
		margin: auto;
	}

	&__link-icon {
		position: absolute;
		top: 1rem;
		right: 1rem;
		transform: rotate(-45deg);
	}
}
