.st-card-project {
	position: relative;
	border-radius: $radius__md;
	text-decoration: none;
	height: 350px;
	border-radius: $radius__md;
	overflow: hidden;
	transition: all 500ms;
	visibility: visible;
	opacity: 1;

	&.hidden {
		display: none;
	}

	&__content {
		position: absolute;
		bottom: 0rem;
		background: $color__white;
		padding: 0.75rem 3.5rem 0.75rem 1rem;
		margin: 0 0.5rem 0.5rem;
		width: calc(100% - 1rem);
		border-radius: $radius__md;

		h3 {
			font-size: 15px;
		}

		p {
			font-size: 14px;
			line-height: 1.25rem;
			margin-top: 0.25rem;
		}

		svg {
			position: absolute;
			top: 50%;
			right: 1rem;
			transform: translateY(-50%) rotate(-45deg);
		}
	}

	img {
		position: absolute;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}

	.placeholder {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -1;
		background: $color__grey;
	}
}
