.st-card-step {
	opacity: 0;

	&__number {
		display: block;
		margin: 0 0 1rem;
		width: fit-content;

		span {
			display: block;
			font-size: $font__xs;
			font-weight: 700;
			color: $color__dark;
			background: $color__white;
			padding: 0.25rem 1rem;
			border-radius: $radius__xs;
		}
	}

	&__title {
		font-size: $font__md;
		margin-bottom: 1rem;
	}

	@media screen and (max-width: 600px) {
		&__number {
			margin: 0 auto 1rem;
		}

		&__title {
			text-align: center;
		}
	}
}
