.st-card-review {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.5rem;
	padding: 1.5rem;
	background: $color__white;
	border-radius: $radius__md;

	&__author {
		font-weight: 600;

		&--name {
			color: $color__primary;
		}
	}
}
